# -------------------------
# Python cache (GLOBAL)
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/

# -------------------------
# IDE
# -------------------------
.vscode/

# -------------------------
# Project configs / metadata
# -------------------------
config.yaml
project.json

# -------------------------
# Logs
# -------------------------
logs/

# -------------------------
# External tools / binaries
# -------------------------
glomap/
ffmpeg/
OpenMVS_Windows_x64/

# -------------------------
# Hardware build folders
# -------------------------
cpu/
gpu/

# -------------------------
# Data / pipeline outputs
# -------------------------
input/
processed/
reconstructions/
evaluations/
runs/
images/
images_filtered/
images_processed/
raw/
# -------------------------
# Archives
# -------------------------
colmap.zip